.technical-skills-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between columns */
  align-items: center; /* Center items vertically */
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 90%; /* Limit the width for better readability */
  border-radius: 8px; /* Rounded corners */
  background-color: #f9f2eb; /* Add a subtle background color */
}

.technical-skills-title {
  font-family: 'Times New Roman';
  /* color: white;  */
  letter-spacing: 0.5em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.118rem;
  margin-bottom: 5rem;
  color: #333; /* Ensure text color is readable */
  text-align: left;
}

.technical-skills-text {
  font-family: 'Times New Roman';
  /* color: white; */
  font-size: 1.618rem;
  font-weight: 300;
  text-align: justify;
  max-width: 100%;
  margin: 0 auto 1.2rem;
  margin-right: 20%;
  position: relative;
  z-index: 1;
  color: #555; /* Ensure text color is readable */
}

.technical-skills-content {
  flex: 1; /* Take up available space */
  margin-right: 20px; /* Space between text and image */
  padding: 10px; /* Add padding for better spacing */
  align-items: center;
}

.technical-skills-image {
  flex: 1; /* Take up available space */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.technical-skills-image img {
  max-width: 100%; /* Ensure image doesn't overflow */
  height: 800px; /* Maintain aspect ratio */
  object-fit: cover;
  width: 80%; /* Scale image to fit the container */
}

.frangipani-ill {
  transform: scaleX(-1);
  width: 40%;
  margin-top: 12%;
  opacity: 8%;
  margin-left: -25%;
}

@media screen and (max-width: 600px) {
  .technical-skills-container {
    flex-direction: column;
    padding: 10px;
  }

  .technical-skills-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .technical-skills-text {
    font-size: 1.2rem;
    margin-right: 0;
  }

  .technical-skills-image img {
    width: 100%;
    height: auto;
  }

  .frangipani-ill {
    width: 60%;
    margin-left: 0;
  }
}
