.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(249, 242, 235, 0.8);
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(51, 51, 51, 0.5);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} 