* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(249, 242, 235);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App {
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 242, 235);
}

.name-container {
  font-size: 1.5rem;
}

.title {
  font-family: 'Times New Roman';
  letter-spacing: 0.5em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3.427rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.overlay {  mix-blend-mode: overlay;
  background-color: rgb(249, 242, 235, 0.4);
  padding: 1rem 1rem;}

.overlay h1, .overlay h2 {
  margin: 0; /* Reset margin */
}

.subtitle {
  font-family: 'Times New Roman';
  letter-spacing: 0.5em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.118rem;
}

.content {
  font-family: 'Times New Roman';
  /* font-size: 1rem; */
  font-size: 1.618rem;
  font-weight: 300;
  /* margin-bottom: 10rem; */
  text-align: center;
  width: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
